Source: gst-debug-viewer
Maintainer: Andrzej Bieniek <andyhelp@gmail.com>
Section: python
Priority: optional
Build-Depends: python-all (>= 2.6.6-3), debhelper (>= 7.4.3)
Standards-Version: 3.9.1
Vcs-Git: git://github.com/andyhelp/pkg-gst-debug-viewer.git
Vcs-browser: https://github.com/andyhelp/pkg-gst-debug-viewer

Package: python-gst-debug-viewer
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Breaks: ${python:Breaks}
Description: GStreamer Debug Viewer
 GStreamer Debug Viewer is a program to ease working with GStreamer debug log files.
